@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

.card {
    border-radius: 20px;
}

.card-content {
    transition: max-height 0.3s ease;
    overflow: hidden;
    padding: 30px;
}

.card-body {
    font-family: 'Montserrat', sans-serif;
}

.card-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.card-text {
    font-family: 'Montserrat', sans-serif;
}

.btn-primary {
    font-family: 'Montserrat', sans-serif;
}