html {
    scroll-behavior: smooth;
}

.gallery-section {
    padding-top: 1000px;
    margin-top: -80px;
}

/* Tipografía global */
body {
    font-family: 'Montserrat', sans-serif;
}

/* Navbar */
.navbar {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

/* Hero Section */
.hero-section {
    background-color: #f9f9f9;
    padding: 60px 20px;
}

/* Estilos para la Galería */
.gallery-section {
    padding: 50px 0;
    text-align: center;
}

.gallery-section h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    margin-bottom: 30px;
}

/* Transiciones suaves para animaciones */
html {
    scroll-behavior: smooth;
}

/* Footer */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}